::-webkit-scrollbar {
  width: 8px;
  background: #ddd;
  /*border:solid 1px;*/
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border:inset 1px;
}

@media screen and (min-width:480px) {
#root, #root > div, body, html {
  height: 100%;
}
body{
  font-size: 0.8em;
}
#main {
  padding-left: 120px;
  display: flex;
  height: calc(100% - 30px);
}
#left-editor {
  flex: 2 1;
  height: 100%;
}
#left-editor > h3 {
  background-color: #aaf;
  height: 1.5em;
  border: solid 1px;
  padding-left: 0.5em;
}
#left-editor > .container{
  overflow-y: scroll;
  height: calc(100% - 2em);
}
#right-editor {
  flex: 1 1;
  height: 100%;
}
#right-editor > h3 {
  background-color: #afa;
  height: 1.5em;  
  border: solid 1px;
  padding-left: 0.5em;
}
#right-editor > .container{
  overflow-y: scroll;
  height: calc(100% - 2em);
}
#side {
  position: absolute;
  top: 30px;
  width: 120px;
  background-color: white;
  overflow-y: scroll;
  height: calc(100% - 30px);
}
#side > h3 {
  display: none;
}
}
.dialog::backdrop {
  backdrop-filter: blur(8px);
}
.dialog {
  box-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.6);
}

#controller{
  height: 30px;
  display:flex;
  justify-content: flex-end;
}
#controller .button{
  border:solid 1px;
}
.editor{
  margin:0px !important;
  padding:0px !important;
}

.h1-style textarea, .h1-style .menu-pos, .h1-style div.elm{
  font-size: 1.5em !important;
  font-weight: bold;
}
.h1-style {
  background-color: #ddf;
}
.h2-style textarea, .h2-style .menu-pos, .h2-style div.elm{
  font-size: 1.5em !important; 
  font-weight: bold;
}
.h3-style textarea, .h3-style .menu-pos, .h3-style div.elm{
  font-size: 1.2em !important; 
  font-weight: bold;
}

.list-indent-1{
  margin-left: 1em;
}
.list-indent-2{
  margin-left: 2em;
}
.list-indent-3{
  margin-left: 3em;
}
.list-indent-4{
  margin-left: 4em;
}
.list-indent-5{
  margin-left: 5em;
}
.list-indent-6{
  margin-left: 6em;
}
.list-indent-7{
  margin-left: 7em;
}
.list-indent-8{
  margin-left: 8em;
}
.list-indent-9{
  margin-left: 9em;
}
span.braket.unknown{
  background-color: #ddf;
  color: gray;
  cursor: pointer;
}
span.braket.red{
  background-color: #ddf;
  color: red;
  cursor: pointer;
}

ul.list-block{
  background-color: #dfd;
}
ul.list-block li{
  mask-type: none;
}
.code-block{
  white-space: pre;
  background-color: black;
  color:white;
}

.item-block a{
  display: flex;
  align-items: center;
}
.item-block img{
  height: 150px;
}
.img-block img {
  height: 150px;
}
.oembed-block iframe{
  width: auto !important;
}

.related-pages > div {
  border: solid 1px;
}
.related-pages-title {
  width: 100px;
  height: 100px;
}
.related-pages-item {
  display: flex;
  flex-wrap:wrap;
}
.related-pages-item > div {
  width: 100px;
  height: 100px;
  border: solid 1px;
  border-radius: 5px;
  background-color: white;
}
.related-pages-item .item-title{
  font-size: small;
}
.related-pages-item .item-desc{
  font-size: x-small;  
}