::-webkit-scrollbar {
  width: 8px;
  background: #ddd;
  /*border:solid 1px;*/
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border:inset 1px;
}

#root, #root > div, body, html {
  height: 100%;
}
body{
  font-size: 0.8em;
}
#main {
  padding-left: 120px;
  display: flex;
  height: calc(100% - 30px);
}
#left-editor {
  flex: 2 1;
  height: 100%;
}
#left-editor > h3 {
  background-color: #aaf;
  height: 1.5em;
  border: solid 1px;
  padding-left: 0.5em;
}
#left-editor > .container{
  overflow-y: scroll;
  height: calc(100% - 2em);
}
#right-editor {
  flex: 1 1;
  height: 100%;
}
#right-editor > h3 {
  background-color: #afa;
  height: 1.5em;  
  border: solid 1px;
  padding-left: 0.5em;
}
#right-editor > .container{
  overflow-y: scroll;
  height: calc(100% - 2em);
}
#controller{
  height: 30px;
  display:flex;
  justify-content: flex-end;
}
#controller .button{
  border:solid 1px;
}
#side {
  position: absolute;
  top: 30px;
  width: 120px;
  background-color: white;
  overflow-y: scroll;
  height: calc(100% - 30px);
}
#side > h3 {
  display: none;
}
.editor{
  margin:0px !important;
  padding:0px !important;
}
ul.list-block{
  background-color: #dfd;
}
ul.list-block li{
  mask-type: none;
}
.code-block{
  white-space: pre;
  background-color: black;
  color:white;
}

.related-pages {
}
.related-pages > div {
  border: solid 1px;
}
.related-pages-title {
  width: 100px;
  height: 100px;
}
.related-pages-item {
  display: flex;
  flex-wrap:wrap;
}
.related-pages-item > div {
  width: 100px;
  height: 100px;
  border: solid 1px;
  border-radius: 5px;
  background-color: white;
}
.related-pages-item .item-title{
  font-size: small;
}
.related-pages-item .item-desc{
  font-size: x-small;  
}