@media screen and (min-width:480px) {

html, body{
  height: 100%;
}
#root{
  height: 100%;
}
#root>div{
  height: 100%;
}
.wrap{
  height: 100%;
}

.contents{
  position:relative;
  height: calc(100% - 6em - 10px); /* TODO: 10px? */
}
.main{
  padding-left:120px;
  height: 100%;
}
.main .title{
  text-align:right;
  padding-right: 0.5em;
  background-color: #eee;
}

.side {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #eee;
  width: 120px;
  min-height: 100%;
  font-size: 0.7em;
  height: 100%;
  overflow-y: scroll;
}

/* === override main style === */
.side .h1{
  font-size: large;
  font-weight: bold;
  border: solid #aaf;
  background-color: #ddf;
  border-width: 0px 0px 1px 0px;
  padding:0.1em;
  margin:0em;
}
.side .h2{
  font-size: medium;
  font-weight: bold;
  background-color: #ddf;
  margin-left: 0px;
  margin-top: 0.5em;
}
.side .h3{
  font-size: small;
  font-weight: bold;
  margin-left: 0px;
}
.side .normal{
  margin-left: 5px;
}
.side .block{
  border: solid #aaf 2px;
  padding: 0em;
  padding-left: 0.0em;
  margin: 0em;
}
.side .mode {
  display: none;
}

.editor-container{
  display: flex;
}
.left-editor{
  flex:2;
}
.right-editor{
  flex:1;
}

.header{
  height: 4.5em;
}

.controller{
  height: 1.5em;
}

.editor-container, .left-editor, .right-editor{
  height: 100%;
}
.left-editor, .right-editor{
  height: 100%;
  overflow-y: scroll;
}

/* === === */

}

::-webkit-scrollbar {
  width: 4px;
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}


.line h1,h2,h3{
  font-size: inherit;
}
.line li::before{
  content: "";
}


.header{
  display:flex;
  background-color: #eee;
  border:solid black;
  border-width: 0px 0px 1px 0px;
}
.controller{
  text-align:right;
  background-color: #eee;
  padding-bottom:0.5em;
  border:solid black;
  border-width: 0px 0px 1px 0px;
}

.error{
  background-color: #f66;
}

.controller button{
  border: solid 1px;
  padding: 5px;
  margin-right: 3px;
  background-color: #333;
  color: #fff;
}

.logo{
  flex-grow:1;
  padding-left: 1em;
}
.login-button {
  background-color: #ffd;
  margin-bottom: 1em;
}

.search {
  background-color: #eee;
}

.side .list{
  font-size: small;
}
.side .list li::before{
  content: "-";
  padding: 0.1em;
}
.side .list li{
  list-style-type: none;
  background-color:white;
  margin-bottom: 2px;
  word-break: break-all;
}
.instant-search {
  font-size: small;
}
.instant-search .piece {
  background-color: #eee;
  margin:3px;
  padding:3px;
}

.instant-search .piece .pages {
  display: flex;
  flex-wrap: wrap;
}
.instant-search li:before{
  content: "";
}
.instant-search .piece li {
  width: 104px;
  display: block;
  border:solid 1px;
  border-radius: 5px;
  padding:3px;
  margin: 3px;
  background-color: white;
  word-break: break-all;
}
.instant-search .piece li img{
  width: 100%;
}

.modal-list-ul li{
  display: block;
  border: solid 1px;
}
.modal-list-ul li.active{
  background-color: #ddf;
}

.boxlist {
  display: flex;
  flex-wrap: wrap;
}

.boxlist li{
  width: 104px;
  display: block;
  border:solid 1px;
  border-radius: 5px;
  padding:3px;
  margin: 3px;
  background-color: white;
  word-break: break-all;
  font-size: x-small;
}

.boxlist li div.boxlist-title{
  font-size: small;
}

