@media screen and (min-width:480px) {

.contents{
  position:relative;
}
.main{
  padding-left:120px;
}

.side {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ddd;
  width: 120px;
  min-height: 100%;
  border:solid #ccc;
  border-width: 0px 3px 0px 0px;
}

}

.main{
  padding-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header{
  display:flex;
  background-color: #ddd;
}
.controller{
  text-align:right;
  background-color: #ddd;
  padding-bottom:0.5em;
  border:solid #ccc;
  border-width: 0px 0px 3px 0px;
}
.controller button{
  border: solid 1px;
  padding: 5px;
  margin-right: 3px;
  background-color: #333;
  color: #fff;
}

.logo{
  flex-grow:1;
  padding-left: 1em;
}
.login-button {
  background-color: #ffd;
  margin-bottom: 1em;
}
